:root {
    --bg-color: #c0ffe6;
    --text-color:#aa83ff;
    --bg-light: #fcf9ae;
    --accent-color:#f5b7ff;
}

#intro {
    color:rgb(48, 49, 65);
    text-align: center;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 14px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}



.calcContainer {
    background-color: var(--accent-color);
    flex: 1;
    border-radius: 14px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
        
}

.display {
    background-color: var(--bg-light);
    padding: 14px;
    border-radius: 8px;
    border: 2px solid var(--text-color);
    flex:1;
    display:flex;
    align-items: center;
    justify-content: end;
    font-size: 1.6em;
    line-height: 1rem;
    overflow: hidden;
}

.display h1 {
    white-space: nowrap;
    text-align: end;
    font-family: monospace;
    font-weight: 800;
}

.btnsContainer {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 6
}

.btnRow {
    display:grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap:14px;
    flex: 4;

}